<div class="container">
  <div class="header"></div>

  <mat-card class="mat-card">
    <div class="card-container">
      <div *ngFor="let pro of products">
        <div class="card" style="width: 12rem">
          <img src="{{ pro.image }}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ pro.name }}</h5>
            <p class="card-text">
              {{ pro.price }}
            </p>
            <a href="#" class="btn btn-success">Edit</a>
            <a style="margin-left: 30px" href="#" class="btn btn-danger"
              >Delete</a
            >
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
