/* .container {
  width: 500px;
  height: 600px;
  background-color: rgb(216, 189, 189);
  margin-top: 20px;
} */
** {
  margin: 0px;
  padding: 0px;
}
body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: rgb(241, 238, 238);
  margin: 0px;
  padding: 0px;
  position: fixed;
  width: 100%;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container form {
  width: 900px;
  height: 500px;
  background-color: rgb(168, 52, 52);
  margin-top: 40px;
}
