.card {
  background-color: white;
  height: 70vh;
  width: 90vmax;
  margin: 20px;
  margin-left: 70px;
}
textarea {
  width: 150px;
  height: 40px;
}
ng-multiselect-dropdown {
  margin-top: 0px;
}
.card {
}
.table {
  width: 200px;
  margin-left: 30px;
  margin-top: 30px;
}
